@tailwind base;
@tailwind components;
@tailwind utilities;

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  white-space: nowrap;
}

@layer components {
  .toast {
    @apply absolute w-64 px-4 py-4 rounded-sm top-2 left-[50%] translate-x-[-50%];
  }
}
